{# The main page of the application #}
{% extends "common.njk" %}

{% block content %}
  <div class="contact container">
    <form action="/thanks.html">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" rows="6" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="nav-link" href="/thanks.njk" hidden></a> 
    </form>

    <iframe class="map rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.6811388008377!2d5.5846264150232585!3d50.63303998207352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0f0abe923dfdb%3A0xd0ec58932d5584c!2sRue+de+Mulhouse+36%2C+4020+Li%C3%A8ge!5e0!3m2!1sen!2sbe!4v1550216450074" allowfullscreen></iframe>
  </div>
{% endblock %}
