{# The main page of the application #}
{% extends "common.njk" %}

{% block content %}
  <div class="container py-4">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="img/Ludivine.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Ludivine Hay</h4>
          <h6 class="card-text lead">Chief executive officer,</br>Photoshop Kunoichi</h6>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/Sam.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Samuel Degueldre</h4>
          <h6 class="card-text lead">Chief technical officer,</br>Javascript Ninja</h6>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/Mathieu.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Mathieu Jasselette</h4>
          <h6 class="card-text lead">Chief marketing officer,</br>Business Samurai</h6>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/Nadine.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Nadine Traufler</h4>
          <h6 class="card-text lead">Chief product officer,</br>Design Geisha</h6>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/chat.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Jeremy Scala</h4>
          <h6 class="card-text lead">Chief sales officer,</br>Marketing Shinobi</h6>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
