{% extends "common.njk" %}

{% block content %}
  <div class="mx-auto thanks">
    <h2>Thank you for your interest!</h2>
    <h3 class="lead">We will get in touch with you soon</h3>
    <p>&nbsp;</p>
    <p class="mx-auto">You will be redirected to our home page shortly...</p>
  </div>

  <script>setTimeout(() => window.location = "/index.njk" , 5000)</script>
{% endblock %}
